# Sequential data types

In [2]:
text = "Lists and strings can be accessed via indices!"
print(text[0], text[10], text[-1])

L s !

In [5]:
cities = ["Vienna", "London", "Paris",
    "Berlin", "Zurich", "Hamburg"]
print(cities[0])
print(cities[2])
print(cities[-1])

Vienna
Paris
Hamburg

In [6]:
countries = ["Germany", "Switzerland", "Austria", "France", "Belgium", "Netherlands", "England"]
len(countries)

7

In [7]:
fib = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
len(fib)

10

In [9]:
s = "MÃ©xico"
s_bytes = s.encode('utf-8')
s_bytes
len(s), len(s_bytes)

(6, 7)

# Python lists

In [12]:
languages = ["Python", "C", "C++", "Java", "Perl"]
print(languages[0] + " and " + languages[1] + " are quite different!")
print("Last language: " + languages[-1])

Python and C are quite different!
Last language: Perl

In [19]:
group = ["Bob", 23, "Alice", 30, "Sam", 55]

# Sublists

In [20]:
person = [["Mark", "Mayer"], []]

In [21]:
person = [["Mark", "Mayer"], ["17, Oxford Str", "12334", "London"], "2342-23434"]
name = person[0]
print(name)

['Mark', 'Mayer']

In [22]:
first_name = person[0][0]
print(first_name)

Mark

In [23]:
complex_list = [["a", ["b", ["c", "x"]]],42]
complex_list[0][1][1][0]

'c'

In [25]:
languages
languages[4] = "Lisp"
languages

['Python', 'C', 'C++', 'Java', 'Lisp']

In [26]:
languages.insert(1, "Perl")
languages

['Python', 'Perl', 'C', 'C++', 'Java', 'Lisp']

In [27]:
languages.append("Haskell")
languages

['Python', 'Perl', 'C', 'C++', 'Java', 'Lisp', 'Haskell']

In [28]:
shopping_list = ['milk', 'yoghurt', 'egg', 'butter', 'bread', 'bananas']
shopping_list

['milk', 'yoghurt', 'egg', 'butter', 'bread', 'bananas']

In [29]:
cart=[]
while shopping_list != []:
    article = shopping_list.pop()
    cart.append(article)
    print(article, shopping_list)
print("shopping list: ", shopping_list)
print("cart: ", cart)

bananas ['milk', 'yoghurt', 'egg', 'butter', 'bread']
bread ['milk', 'yoghurt', 'egg', 'butter']
butter ['milk', 'yoghurt', 'egg']
egg ['milk', 'yoghurt']
yoghurt ['milk']
milk []
shopping list:  []
cart:  ['bananas', 'bread', 'butter', 'egg', 'yoghurt', 'milk']

# Tuples

In [30]:
t = ("tuples", "are", "immutable")
t[0] = "change"

TypeError: 'tuple' object does not support item assignment

# Slicing

In [31]:
slogan = "Python is great"
first_six = slogan[0:6]
first_six

'Python'

In [33]:
starting_at_five = slogan[5:]
starting_at_five

'n is great'

In [38]:
cities = ["Vienna", "London", "Paris", "Berlin", "Zurich", "Hamburg"]
all_but_last_two = cities[:-2]
all_but_last_two

['Vienna', 'London', 'Paris', 'Berlin']

In [39]:
cities[1:-1:2]

['London', 'Berlin']

In [41]:
cities[1::2]

['London', 'Berlin', 'Hamburg']

In [42]:
s = "Toronto is the largest city in Canada"
t = "Python courses in Toronto by Bodenseo"
s = "".join(["".join(x) for x in zip(s,t)])
s

'TPoyrtohnotno  ciosu rtshees  lianr gTeosrto nctiot yb yi nB oCdaennasdeao'

In [43]:
print(s[::2])

Toronto is the largest city in Canada

In [44]:
print(s[1::2])

Python courses in Toronto by Bodenseo

In [46]:
z = zip(s,t)

In [47]:
print(tuple(z))

(('T', 'P'), ('P', 'y'), ('o', 't'), ('y', 'h'), ('r', 'o'), ('t', 'n'), ('o', ' '), ('h', 'c'), ('n', 'o'), ('o', 'u'), ('t', 'r'), ('n', 's'), ('o', 'e'), (' ', 's'), (' ', ' '), ('c', 'i'), ('i', 'n'), ('o', ' '), ('s', 'T'), ('u', 'o'), (' ', 'r'), ('r', 'o'), ('t', 'n'), ('s', 't'), ('h', 'o'), ('e', ' '), ('e', 'b'), ('s', 'y'), (' ', ' '), (' ', 'B'), ('l', 'o'), ('i', 'd'), ('a', 'e'), ('n', 'n'), ('r', 's'), (' ', 'e'), ('g', 'o'))

# Length

In [48]:
txt = "Hello World!"
len(txt)

12

In [50]:
a  = ["Swen", 45, 3,54, "Basel"]
len(a)

5

# Concatenation of sequences

In [52]:
first_name = "Matt"
last_name = "Damon"
name = first_name + " " + last_name
print(name)

Matt Damon

In [53]:
colors1 = ["red", "green", "blue"]
colors2 = ["cyan", "yellow", "magenta"]
colors = colors1 + colors2
print(colors)

['red', 'green', 'blue', 'cyan', 'yellow', 'magenta']

In [54]:
s = "some"
m = "mojo"
s += m
s

'somemojo'

In [ ]:
colors3 = ["purple", "orange"]
colors += colors3
colors

# The pitfalls of repetitions

In [1]:
x = ["a", "b", "c"]
y = [x] * 4
y

[['a', 'b', 'c'], ['a', 'b', 'c'], ['a', 'b', 'c'], ['a', 'b', 'c']]

In [2]:
y[0][0] = "p"
y

[['p', 'b', 'c'], ['p', 'b', 'c'], ['p', 'b', 'c'], ['p', 'b', 'c']]